.feature-galery{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list {
@media screen and (min-width: 768px) {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }

@media screen and (min-width: 1200px) {
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        }
}


.feature-item {
    margin-bottom: 30px;
@media screen and (min-width: 768px) {
            margin-left: 30px;
            width: calc(100% / 2 - 30px);
}

@media screen and (min-width: 1200px) {
    margin-left: 30px;
    width: calc(100% / 4 - 30px);
}
}

// .feature-item:last-child {
//     // margin-right: 0%;
// }

.feature-list .title {
    color: var(--secondary-text-color);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.title {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 480px) {
            text-align: center;
        }
    @media screen and (min-width: 768px) {
        text-align: center;
        }
}

.icon-feature {
    text-align:center;
    // width: 70px;
    // height: 70px;
}

.feature-box {
    @extend %flex-centered;
    
    background-color: rgb(245, 244, 250);
    border-radius: 4px;
    margin-bottom: 30px;
    // width: 270px;
    // height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
        }
