.footer-right-block {
    color: rgb(255, 255, 255);
    margin-left: auto;

        display: flex;
            flex-direction: column;
            align-items: center;
        
            @include desk {
                align-items: start;
            }
        }
    


.footer-cta {
    // display: block;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include font(14px, 700, 1.14, 0.03em);
        font-style: normal;
        color: #ffffff;
        text-align: center;
    }


.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        @include desk {
            flex-direction: row;
        }
    }



.subscription-input {
            width: 100%;
            margin-bottom: 20px;
    
            @include tel {
                width: 450px;
            }
    
            @include desk {
                width: 358px;
                margin-bottom: 0;
            }
    
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: none;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
            color: #ffffff;
            font-size: 16px;
            line-height: 1.25;
            outline: none;
            transition-property: border-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
            &:hover,
            &:focus {
                cursor: pointer;
                border-color: #2196f3;
            }
    
            &::placeholder {
                color: rgba(255, 255, 255, 0.6);
                font-size: 16px;
                line-height: 1.25;
            }
        }
// }

.form-icon-footer {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}