.header {
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 236, 236);
        @include tab {
            height: 80px;
        }
    }

        .header .container {
            display: flex;
        }

        .header__inner {
            display: flex;
            align-items: center;
            height: 60px;
        
            @include align-list;
            height: 60px;
        
            @include tab {
            height: 80px;
                    }
                }

   .menu-open-burger {
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        background: none;
        border: none;

       @include tab {
           display: none;
       }
       &:hover,
       &:focus {
           cursor: pointer;
           color: var(--accent-color);
       }
   }





.navigation__auth {
display: none;

    @include tab {
        display: block;
    }

    @include desk {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    padding-top: 21px;
    padding-bottom: 21px;
}
