.team-section {
    text-align: center;
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}

.section-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.title-team {
    margin-right: 30px;
}

.title-team:last-child {
    margin-right: 0%;
}

.box-team {
    padding-top: 30px;
}

.card-bg {
    background-color: #FFFFFF;
    width: 270px;
    height: 168px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-link {
    margin: 16px 32px 30px 32px;
    display: flex;
    justify-content: center;
}

.social-list {
    display: flex;
    list-style: none;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
    justify-content: space-between;
}

.link-area {
    @extend %flex-centered;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-area:hover .social-links {
    fill: #FFFFFF;
}

.link-area:focus .social-links {
    fill: #FFFFFF;
}

.link-area:hover,
.link-area:focus {
    background-color: var(--accent-color);
}

.social-links {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.team-list .title {
    color: var(--secondary-text-color);
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-list .team-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

